$color-fuente: black;

/*margen entre secciones*/

$margen-secciones: 6px;

/*TAMANO FUENTES*/
/* Tamano fuente h1*/
$fuente-h1:70px;

/*TAMANO CARD1 */
$ancho-carduno: 16rem;
$alto-carduno: 22rem;

/* TAMANO IMAGEN CARD1 */
$ancho-img1: 15rem;
$alto-img1: 16rem;

/* Boton Whatsapp*/

$ancho-wsp:70px;
$alto-wsp:70px;